<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alice.test1.test1.mapper.UserMapper">


    <select id="findUserByName" resultType="com.alice.test1.test1.model.User">
        SELECT * FROM users WHERE username=#{username};
    </select>

    <insert id="saveUser" parameterType="com.alice.test1.test1.model.User" >
INSERT INTO users (username,rawpassword) VALUES (#{username},#{rawpassword});
    </insert>
</mapper>



